html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: linear-gradient(180deg, var(--bg-dark), var(--bg-mid));
  color: var(--text-light);
  user-select: none;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* 👉 AQUÍ AÑADES ESTO */
h1, h2, h3, .section-title {
  font-family: 'Orbitron', sans-serif;
}

.section {
  padding: 120px 0; /* 🔥 espacio entre páginas */
  position: relative;
}


/* accesibilidad */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}