:root {
  --bg-dark: #0b0016;
  --bg-mid: #150028;
  --bg-light: #1f003a;
  --neon-pink: #ff00cc;
  --neon-purple: #6a00ff;
  --neon-blue: #00f7ff;
  --text-light: #eae6ff;
  --text-soft: #bca8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, var(--bg-dark), var(--bg-mid));
  color: var(--text-light);
  scroll-behavior: smooth;
}

/* NAV */

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: transparent; /* antes tenía degradado oscuro */
  border-bottom: none;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo span {
  color: var(--neon-pink);
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links a {
  color: var(--text-soft);
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--neon-pink);
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.btn-contacto {
  background: linear-gradient(135deg, var(--neon-pink), var(--neon-purple));
  padding: 8px 20px;
  border-radius: 6px;
  color: white !important;
}

/* HERO */

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-family: 'Orbitron';
  font-size: 60px;
}

.section {
  padding: 120px 10%;
}

.section-title {
  font-family: 'Orbitron';
  font-size: 36px;
  margin-bottom: 40px;
}

/* TIMELINE */

.timeline {
  border-left: 3px solid var(--neon-pink);
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.timeline-item {
  opacity: 0;
  transform: translateX(-20px);
  transition: 0.6s;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateX(0);
}

.highlight {
  color: var(--neon-pink);
}

/* CARDS */

.dark {
  background: var(--bg-dark);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: var(--bg-light);
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255,0,200,0.3);
}

.big {
  max-width: 700px;
}

/* CONTACTO */

.contact {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-card {
  background: var(--bg-light);
  padding: 15px;
  border-left: 4px solid var(--neon-pink);
  margin-bottom: 15px;
}

.contact-right span {
  color: var(--neon-pink);
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: var(--text-soft);
}
