.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(340px, 1fr));
  gap: 80px;
  max-width: 900px;
  margin-top: 60px;
}

.card {
  padding: 45px;
  border-radius: 23px;
  font-size: 28px;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);

  text-align: center;

  opacity: 0;
  transform: translateY(40px);

  transition:
    opacity .7s ease,
    transform .7s cubic-bezier(.2, .8, .2, 1);
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-10px) scale(1.03);

  border: 1px solid rgba(0, 247, 255, 0.5);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 20px rgba(0, 247, 255, 0.3),
    0 0 40px rgba(255, 0, 200, 0.2);
}

.tech-icon {
  width: 60px;
  margin-bottom: 15px;

  transition: transform .3s ease;
  animation: iconFloat 4s ease-in-out infinite;
}

.card:hover .tech-icon {
  transform: rotate(8deg) scale(1.15);
}

.card.java:hover {
  border-color: #ff4c4c;
  box-shadow:
    0 0 25px rgba(255, 76, 76, .6),
    0 0 60px rgba(255, 76, 76, .4);
}

.card.html:hover {
  border-color: #ff7a18;
  box-shadow:
    0 0 25px rgba(255, 122, 24, .6),
    0 0 60px rgba(255, 122, 24, .4);
}

.card.js:hover {
  border-color: #f7df1e;
  box-shadow:
    0 0 25px rgba(247, 223, 30, .6),
    0 0 60px rgba(247, 223, 30, .4);
}

.card.mysql:hover {
  border-color: #00c3ff;
  box-shadow:
    0 0 25px rgba(0, 195, 255, .6),
    0 0 60px rgba(0, 195, 255, .4);
}

@keyframes iconFloat {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}