.code-window {
    width: 580px;
    max-width: 100%;

    background: linear-gradient(180deg, #0b0320, #12052a);

    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, .15);

    box-shadow:
        0 40px 90px rgba(0, 0, 0, .7),
        0 0 40px rgba(0, 247, 255, .25),
        0 0 80px rgba(255, 0, 200, .2);

    overflow: hidden;

    font-family: monospace;

    transition: all .8s cubic-bezier(.2, .8, .2, 1);

    transform: rotateY(-6deg) rotateX(2deg) scale(.95);
}

.code-window:hover {
    transform: rotateY(0deg) rotateX(0deg) scale(1.02);

    box-shadow:
        0 20px 50px rgba(0, 0, 0, .6),
        0 0 40px rgba(0, 247, 255, .35),
        0 0 80px rgba(255, 0, 200, .25);
}

.code-header {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 14px;

    background: rgba(255, 255, 255, .04);

    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.red {
    background: #ff5f57;
}

.yellow {
    background: #febc2e;
}

.green {
    background: #28c840;
}

.file-name {
    margin-left: 10px;
    font-size: 13px;
    color: #cfcfff;
    font-family: 'Orbitron';
}

.code-content {
    padding: 16px;
    font-size: 14px;
    line-height: 1.45;
    color: #cfd7ff;
}

.code-content::after {
    content: "|";
    animation: blink 1s infinite;
}

.code-window.small {
    width: 400px;
}

.code-window.large {
    width: 700px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.keyword {
    color: #ff7edb;
}

.class {
    color: #00f7ff;
}

.type {
    color: #ffc857;
}

.string {
    color: #00ffa6;
}

.value {
    color: #00ffa6;
}

.comment {
    color: #7a6dff;
}