/* ================= NAV ================= */

.nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.nav-container {
  height: 55px;
  margin: 20px 40px 0 0;
  padding: 0 35px;
  display: flex;
  align-items: center;
  border-radius: 50px;

  background: linear-gradient(90deg,
      #1f003a,
      #2b0050,
      #3a0070,
      rgba(255, 200, 87, 0.15));

  backdrop-filter: blur(14px);

  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.45),
    0 0 30px rgba(255, 200, 87, 0.15);

  opacity: 0;
  transform: translateY(-20px);
  animation: navIn 1s ease forwards;
}

.nav-links {
  display: flex;
  gap: 45px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-soft);
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--accent-yellow);
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--accent-yellow);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.btn-contacto {
  background: linear-gradient(135deg, var(--neon-pink), var(--accent-yellow));
  padding: 7px 20px;
  border-radius: 25px;
  color: black !important;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-contacto:hover {
  box-shadow: 0 0 20px rgba(255, 200, 87, 0.6);
}

@keyframes navIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}