<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- Google Font Futurista -->
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>

<body>

  <div id="background-layer"></div>
  <canvas id="particles-canvas"></canvas>

  {{ content }}

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
